body {
  text-align: center;
  background:#d9a5b3;
  width:100%;
  margin-bottom: 100px;
  font-family: "Merriweather", serif;
  font-weight: 300;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}

p {
  font-size: 14px;
}

a {
  color: #1868ae;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

nav a{
  background: #c6d7eb;
  width:100%;
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 3px solid #1868ae;
  border-top: 3px solid #1868ae;
  border-left: 3px solid #1868ae;
  border-right: 3px solid #1868ae;
  font-size: 18px;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}


a:visited {

}

nav a:hover, p a:hover {
  color:black;
  background: white;
}

section {
  color: black;
  background:#c6d7eb;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 3px solid #1868ae;
  border-bottom: 3px solid #1868ae;
  border-left: 3px solid #1868ae;
  border-right: 3px solid #1868ae;
}

li {
  width: 33.3%;
  float: left;
}

img {
  border: 0;
  margin: 35px;
  width: 75%;
  max-width: 600px;
  min-width: 200px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu_trigger {
  display: none;
}

@media (max-width: 600px) {

  ul {
    flex-direction: column;
    justify-content: center;
  }

  li {
    width: 90%;
  }

  #menu_trigger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #menu_nav {
    display: none;
  }
}
